<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360832762583-f2rluh7sae6h3sk4m88gava3l25medav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360832762583-f2rluh7sae6h3sk4m88gava3l25medav</string>
	<key>API_KEY</key>
	<string>AIzaSyD2k6SuhrKCl8t6SmZLYKSoxkak4He25iI</string>
	<key>GCM_SENDER_ID</key>
	<string>360832762583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskly</string>
	<key>PROJECT_ID</key>
	<string>taskly-68398</string>
	<key>STORAGE_BUCKET</key>
	<string>taskly-68398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360832762583:ios:906b6bd845e99fdb16e692</string>
</dict>
</plist>